@font-face {
  font-family: Gotham-Bold;
  src: url(../fonts/Gotham-Bold.eot);
  src: url(../fonts/Gotham-Bold.woff2) format("woff2"), url(../fonts/Gotham-Bold.woff) format("woff"), url(../fonts/Gotham-Bold.ttf) format("truetype"), url(../fonts/Gotham-Bold.svg#Gotham-Bold) format("svg"), url(../fonts/Gotham-Bold.eot?#iefix) format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gotham-Medium;
  src: url(../fonts/GothamMedium.eot);
  src: url(../fonts/GothamMedium.eot?#iefix) format("embedded-opentype"), url(../fonts/GothamMedium.woff2) format("woff2"), url(../fonts/GothamMedium.woff) format("woff"), url(../fonts/GothamMedium.ttf) format("truetype"), url(../fonts/GothamMedium.svg#GothamMedium) format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Gotham-Light;
  src: url(../fonts/Gotham-Light.eot);
  src: url(../fonts/Gotham-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham-Light.woff2) format("woff2"), url(../fonts/Gotham-Light.woff) format("woff"), url(../fonts/Gotham-Light.ttf) format("truetype"), url(../fonts/Gotham-Light.svg#Gotham-Light) format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Gotham-Ultra;
  src: url(../fonts/Gotham-Ultra.eot);
  src: url(../fonts/Gotham-Ultra.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham-Ultra.svg#Gotham-Ultra) format("svg"), url(../fonts/Gotham-Ultra.ttf) format("truetype"), url(../fonts/Gotham-Ultra.woff) format("woff"), url(../fonts/Gotham-Ultra.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gobold_Lowplus;
  src: url(../fonts/Gobold_Lowplus.eot);
  src: url(../fonts/Gobold_Lowplus.eot?#iefix) format("embedded-opentype"), url(../fonts/Gobold_Lowplus.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
.container {
  max-width: 1400px !important;
}

.read {
  background-color: #f8a942;
  padding: 16px 35px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border: none;
}

h2 {
  color: #f8a942;
  font-size: 48px !important;
  line-height: 58px;
  font-weight: 500;
  padding-bottom: 32px;
  font-family: Gotham-Bold;
}

p,
h3,
h6,
h4,
span,
a,
h5 {
  font-family: Gotham-Light;
}

.btn-wrapper {
  position: relative;
  z-index: 0;
  display: inline-block;
  align-items: center;
}
.btn-wrapper .primary-button.reverse-shadow {
  box-shadow: -7px 7px 0 0 #044792;
}

.primary-button {
  position: relative;
  z-index: 6;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 16px 36px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background-color: #fff;
  box-shadow: 7px 7px 0 0 #000;
  transition: all 200ms ease;
  text-decoration: none;
  color: #000;
}

.button-content {
  display: flex;
}

.blr .navbar {
  display: block;
}
.blr .navbar .navbar-toggler {
  color: #f07b00 !important;
  display: inline-block;
}
.blr .navbar a {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.blr .navbar .navbar-nav {
  gap: 10px;
  margin-right: 15px;
}
.blr .navbar .navbar-nav .nav-link {
  color: #000;
}
.blr .navbar .navbar-nav .nav-link:hover {
  color: #ad2627;
}
.blr .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  background-color: rgba(7, 39, 71, 0.9411764706);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.blr .sidenav ul {
  padding-left: 20px;
}
.blr .sidenav ul li {
  margin-top: 15px;
  list-style-type: none;
}
.blr .sidenav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 8px 8px 18px;
}
.blr .sidenav ul li a i {
  margin-right: 10px;
  font-size: 12px;
}
.blr .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.blr .openToggle {
  font-size: 30px;
  cursor: pointer;
  color: #000;
}
.blr .track,
.blr .log-in {
  background: #044792;
  color: #fff;
  border: none;
  padding: 5px 15px;
  text-transform: uppercase;
  font-family: gotham-light;
}
.blr .about_us {
  padding: 80px 0;
}
.blr .about_us .left h6 {
  color: #044792;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  padding-bottom: 12px;
}
.blr .about_us .left h2 {
  font-size: 23px !important;
  padding-bottom: 5px;
  color: #044792;
}
.blr .about_us .left p {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 4px;
}
.blr .about_us .left #counter-stats .glance-txt {
  font-size: 24px;
  font-family: Gotham-Bold;
  text-transform: uppercase;
  margin: 20px 0;
}
.blr .about_us .left #counter-stats .stats {
  display: flex;
  align-items: center;
}
.blr .about_us .left #counter-stats .stats .counting {
  font-size: 24px;
  color: #000;
}
.blr .about_us .left #counter-stats .stats h5 {
  font-size: 12px;
  color: #717171;
  text-transform: uppercase;
  margin-left: 5px;
}
.blr .about_us .right img {
  width: 100%;
}
.blr .why_choose {
  padding: 120px 0 60px;
}
.blr .why_choose h2 {
  font-size: 60px !important;
  color: #0e0f18;
}
.blr .why_choose p {
  margin-bottom: 40px;
}
.blr .why_choose .technology {
  display: grid;
  grid-auto-columns: 1fr;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  position: relative;
  grid-column-gap: 170px;
}
.blr .why_choose .technology_left, .blr .why_choose .technology_right {
  margin-top: 100px;
}
.blr .why_choose .technology_left .grid-wrap-one, .blr .why_choose .technology_right .grid-wrap-one {
  margin-top: 100px;
}
.blr .why_choose .technology_left .grid-wrap-one .choose-single-item,
.blr .why_choose .technology_left .grid-wrap-two .choose-single-item, .blr .why_choose .technology_right .grid-wrap-one .choose-single-item,
.blr .why_choose .technology_right .grid-wrap-two .choose-single-item {
  display: flex;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.blr .why_choose .technology_left .grid-wrap-one .choose-single-item .choose-item-content,
.blr .why_choose .technology_left .grid-wrap-two .choose-single-item .choose-item-content, .blr .why_choose .technology_right .grid-wrap-one .choose-single-item .choose-item-content,
.blr .why_choose .technology_right .grid-wrap-two .choose-single-item .choose-item-content {
  margin-left: 30px;
}
.blr .why_choose .technology_left .grid-wrap-one .choose-single-item .choose-item-content h3,
.blr .why_choose .technology_left .grid-wrap-two .choose-single-item .choose-item-content h3, .blr .why_choose .technology_right .grid-wrap-one .choose-single-item .choose-item-content h3,
.blr .why_choose .technology_right .grid-wrap-two .choose-single-item .choose-item-content h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 140%;
}
.blr .why_choose .technology_left .grid-wrap-one .choose-single-item .choose-item-content p,
.blr .why_choose .technology_left .grid-wrap-two .choose-single-item .choose-item-content p, .blr .why_choose .technology_right .grid-wrap-one .choose-single-item .choose-item-content p,
.blr .why_choose .technology_right .grid-wrap-two .choose-single-item .choose-item-content p {
  margin-bottom: 10px;
  color: #0e0f18;
  font-size: 20px;
  line-height: 150%;
}
.blr .why_choose .technology_left .grid-wrap-one .border-line,
.blr .why_choose .technology_left .grid-wrap-two .border-line, .blr .why_choose .technology_right .grid-wrap-one .border-line,
.blr .why_choose .technology_right .grid-wrap-two .border-line {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}
.blr .why_choose .technology .vartical-border {
  position: absolute;
  left: 50%;
  top: 0px;
  width: 1px;
  height: 100%;
  background-color: rgba(14, 15, 24, 0.2);
}
.blr .circle1 {
  height: 600px;
  width: 600px;
  border: 5px solid black;
  border-radius: 5000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blr .circle1 .circle2 {
  height: 300px;
  width: 300px;
  position: absolute;
  border-radius: 5000px;
}
.blr .circle1 .circle2 .box1 {
  text-align: center;
}
.blr .circle1 .circle2 h6 {
  background: #f8a942;
  padding: 10px;
  border-radius: 20px 20px;
  margin-top: 35px;
  color: #fff;
}
.blr .esg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}
.blr .esg .container {
  position: relative;
  width: 600px;
  height: 600px;
}
.blr .esg .container .icon {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  left: -51%;
}
.blr .esg .container .icon .imgBx {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 0 4px #222, 0 0 0 6px #fff;
  border: 3px solid #8ab689;
  transform-origin: 340px;
  z-index: 100;
  overflow: hidden;
  transition: 0.5 s;
  transform: rotate(calc(45deg * var(--i)));
}
.blr .esg .container .icon .imgBx.active img {
  filter: grayscale(0);
}
.blr .esg .container .icon .imgBx img {
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  transform: rotate(calc(-45deg * var(--i)));
  transition: 0.5s;
  filter: brightness(0) invert(1);
}
.blr .esg .container .circle2 .grid-container {
  display: grid;
  grid-template-areas: "item1 item2 item3" "item1 item4 item3";
  height: 400px;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.blr .esg .container .circle2 .grid-item {
  width: 250px;
  height: 200px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
}
.blr .esg .container .circle2 .item1 {
  grid-area: item1;
}
.blr .esg .container .circle2 .item2 {
  grid-area: item2;
}
.blr .esg .container .circle2 .item3 {
  grid-area: item3;
}
.blr .testimonial .card {
  border: none;
  margin: 10px;
}
.blr .testimonial .card img {
  width: 100px;
  display: flex;
  margin: auto;
}
.blr .testimonial .new-card {
  margin: -130px 10px 10px 10px;
}
.blr .testimonial .client {
  border-radius: 30px 0 30px 0;
  padding: 99px;
  text-align: center;
}
.blr #wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}
.blr .block {
  display: inline-block;
  width: 200px;
  margin: 10px;
}
.blr .larger {
  width: 413px;
  grid-area: 3/3/span 2/span 2;
  background: #044792;
  margin-left: 19px;
}
.blr .blog {
  padding: 0px 0 350px;
}
.blr .blog .programs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}
.blr .blog .image .item {
  border-radius: 4px;
  height: 100px;
  width: 100%;
}
.blr .blog .image .item .card {
  border-radius: 8px;
  box-shadow: 0 33px 36px rgba(0, 0, 0, 0.07), 0 12.0455px 13.1406px rgba(0, 0, 0, 0.048), 0 5.84789px 6.37951px rgba(0, 0, 0, 0.039), 0 2.86674px 3.12736px rgba(0, 0, 0, 0.031), 0 1.13351px 1.23656px rgba(0, 0, 0, 0.022);
}
.blr .blog .image .item .card .card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.blr .blog .image .item .card .card-body {
  text-align: left;
  padding: 17px;
}
.blr .blog .image .item .card .card-body .card-date {
  font-size: 14px;
  color: #044792;
  font-weight: 500;
}
.blr .blog .image .item .card .card-body .card-title {
  color: black;
  font-size: 18px;
  margin-top: 10px;
}
.blr .blog .image .item .card .card-body .card-link {
  font-size: 16px;
  font-weight: 500;
  color: #044792;
}
.blr .footer ul {
  margin: 0px;
  padding: 0px;
}
.blr .footer_section {
  background: #151414;
  position: relative;
}
.blr .footer .footer-cta {
  border-bottom: 1px solid #373636;
}
.blr .footer .single-cta {
  display: flex;
}
.blr .footer .single-cta i {
  color: #fcaa40;
  font-size: 30px;
  margin-top: 8px;
}
.blr .footer .cta-text {
  padding-left: 15px;
}
.blr .footer .cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
}
.blr .footer .cta-text span {
  color: #ffffff;
  font-size: 15px;
}
.blr .footer .footer-content {
  position: relative;
  z-index: 2;
}
.blr .footer .footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.blr .footer .footer-logo {
  margin-bottom: 30px;
}
.blr .footer .footer-logo img {
  max-width: 200px;
}
.blr .footer .footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.blr .footer .footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.blr .footer .footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.blr .footer .footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.blr .footer .facebook-bg {
  background: #3b5998;
}
.blr .footer .twitter-bg {
  background: #55acee;
}
.blr .footer .google-bg {
  background: #dd4b39;
}
.blr .footer .footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.blr .footer .footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.blr .footer .footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.blr .footer .footer-widget ul li a:hover {
  color: #ff5e14;
}
.blr .footer .footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.blr .footer .subscribe-form {
  position: relative;
  overflow: hidden;
}
.blr .footer .subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.blr .footer .subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.blr .footer .subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.blr .footer .copyright-area {
  background: #202020;
  padding: 25px 0;
}
.blr .footer .copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}
.blr .footer .copyright-text p a {
  color: #ff5e14;
}
.blr .footer .footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.blr .footer .footer-menu li:hover a {
  color: #ff5e14;
}
.blr .footer .footer-menu li a {
  font-size: 14px;
  color: #878787;
}/*# sourceMappingURL=style.css.map */